{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-[100%] w-[100%]">
	<head>
    <title>Word Search</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	
	<body class="bg-gradient-to-r from-teal-400 to-blue-500 font-sans leading-normal tracking-normal h-[100%] w-[100%]">
		<div class="h-[100%] w-[100%] flex flex-col items-center justify-center">
			<h1 class="text-white text-3xl mx-auto">Word Search</h1>
			<button class=" w-fit px-[100px] py-[25px] bg-slate-400  bg-opacity-50"><h2>Start</h2></button>
		</div>
		
	</body>
</html>
